body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    background-color: steelblue;
    color:white;
}

table{
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

table, td, th {
    border: 1px solid white;
}