body{
    background-color: antiquewhite;
}

#wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    background-color: burlywood;
}

header > img{
    float: left;
    max-width: 10%;
}

header > nav{
    clear: both;
    text-align: center;
}

header > nav > ul{
    height: 40px;
    display: inline-block;
}

header > nav > ul > li{
    float: left;
    list-style: none;
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 100px;
    background-color: blueviolet;
}

main{
    margin-bottom: 15px;
}

main > aside{
    float: left;
    width: 20%;
    padding: 10px;
    background-color: cornflowerblue;
    box-sizing: border-box;
}

main > aside > img{
    max-width: 100%;
}

main > section{
    float: left;
    margin-left:1%;
    width: 79%;
}

main > section > article{
    box-sizing: border-box;
    width: 32%;
    float: left;
    background-color: bisque;
    padding:5px;
    margin-right: 1%;
    margin-bottom: 15px;
}

main > section > article > img {
    max-width: 30%;
    float:left;
    padding-right: 6px;
}


footer{
    padding: 5px;
    background-color: aqua;
    clear: both;
}

