table{
        border-collapse: collapse;
        width: 400px;
        margin: 20px auto;
}

td,th{
    border: 1px solid black;
    min-width: 40px;
    padding: 5px;
    text-align: center;
}
