* {
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    color: #aaa;
}

header, footer{
    background-color: #e5e5e5;
    text-align: center;
}

header{
    padding: 15px;
}

footer{
    padding: 10px;
    margin-top: 7px;
}

#menu{
    width: 20%;
    text-align: center;
}

#menu a{
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
}

#menu a:hover{
    background-color: aqua;
}

#content{
    width: 60%;
    padding: 0 20px;
}

#about{
    width: 20%;
    background-color: #e5e5e5;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

main{
    display: flex;
}