* {
    font-family: Verdana;
}

body{
    background-color: azure;
}

header{
    background-color: yellow;
}

section{
    background-color: antiquewhite;
}

h3{
    color: blue;
}

#klasy > h3{
    color: red;
}

.nieparzyste{
    font-size: 2em;
}

.large{
    font-size: 50px;
}

p, div, h3{
    text-align: right;
}

#atrybuty form input[type="text"]{
    background-color: red;
}

#atrybuty form input[name="haslo"]{
    background-color: blue;
    color: white;
}