* {
    box-sizing: border-box;
}
body{
    background-color: #1f2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title{
    margin-top: 0;
    text-align: center;
    font-size: 24px;
}
#calculator{
    margin: 20px auto;
    padding: 20px;
    width: 500px;
    color: white;
    background-color: #4b5563;
    border-radius: 4px;
}

form {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 10px;
}

input{
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

#num1{
    grid-area: 1 / 1 / 2 / 2;
}
#num2{
    grid-area: 2 / 1 / 3 / 2;
}

form > button#submit{
    grid-area: 3 / 1 / 4 / 2;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 4px;
    color: white;
    background-color: #059669;

}

form > input#reset{
    grid-area: 3 / 2 / 4 / 3;
    font-size: 20px;
    padding: 10px 0;
    color: white;
    background-color: #d97706 !important;
}

select{
    font-size: 40px;
    color: white;
    background-color: #059669;
    border-radius: 5px;
    text-align: center;
    grid-area: 1 / 2 / 3 / 3;
    width: 94%;

}

#result{
    background-color: #1f2937;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 4px;
    text-align: right;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(177, 173, 173);
    opacity: 1; /* Firefox */
  }