body{
    background-color: #a27556;
}

#tytul, footer{
    background-color: #4a2c21;
    color: white;
    text-align: center;
}

main{
    display: flex;
}

#oferta{
    width: 30%;
}

#tresc{
    width: 70%;
    padding-left: 20px;
}

