/* Selektor klasy */
.example {
    color: blue;
}

/* Selektor identyfikatora */
#unique {
    font-weight: bold;
}

/* Selektor elementu */
p {
    font-size: 16px;
}

/* Selektor potomka */
.container ul li {
    list-style-type: square;
}

/* Selektor atrybutu */
a[href] {
    text-decoration: none;
    color: red;
}

/* Pseudo-element: pierwsza litera */
.flt::first-letter {
    font-size: 2em;
    color: green;
}

/* Pseudo-element: pierwsza linia */
.fl::first-line {
    font-weight: bold;
}

/* Pseudo-klasa: hover */
.hv:hover {
    background-color: yellow;
}

/* Pseudo-klasa: nth-child */
div.pseudo-elements p:nth-child(4) {
    color: red;
}
div.pseudo-elements p:nth-child(5) {
    color: green;
}
div.pseudo-elements p:nth-child(6) {
    color: blue;
}

/* Pseudo-element: before i after */
.before-after::before {
    content: "Przed: ";
    color: purple;
}
.before-after::after {
    content: " :Po";
    color: purple;
}

/* Pseudo-klasa: not */
.not:not(.not) {
    color: orange;
}

body{
    background-color: beige;
}

*{
    font-family: Verdana;
}